[Unit]
Description=puma
After=network.target

[Service]
WorkingDirectory=/var/translator
ExecStart=/usr/local/bin/bundle exec /var/translator/.bundle/ruby/2.7.0/bin/puma -C config/puma.production.rb
Environment=MALLOC_ARENA_MAX=2
SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
